form{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: o.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid gray;
    outline: none;

}
#submit-btn{
    width: 85%;
}